#python3.13
pandas==2.3.1
pyarrow==21.0.0
ollama==0.5.1
sentence_transformers==5.0.0
chromadb==1.0.15
langchain==0.3.26
langchain-chroma==0.2.4
langchain-core==0.3.69
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8